


@import "./config.css";


body{
    height: 200vh;
    position: relative;
}

/* header navegação */

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(77, 77, 77, 0.223);
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;

}

.header_linklogo{
    display: flex;
    max-width: 150px;
}

.header_linklogo--img{
    width: 100%;
   display: block;
}

.header_wpnav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.header_wpnav--nav{
    min-height: 20px;
    display: flex;
    align-items: center;
}

.header_wpnav--nav > div{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100%;
    align-items: center;
}


.nav-btn--login{
    padding: 4px 20px;
    background-color: white;
    color: var(--azul1);
    text-decoration: none;
    font-weight: 300;
    margin: 10px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--azul1);
}

.nav-btn--login:hover{
    background-color: var(--azul1);
    color: white;
    border: 1px solid var(--azul1);
}

.nav-btn{
    padding: 4px 20px;
    background-color: var(--azul1);
    color: white;
    text-decoration: none;
    font-weight: 300;
    margin: 10px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--azul1);
    line-height: 1.2;
}

.nav-btn:hover{
    background-color: white;
    color: var(--azul1);
    border: 1px solid var(--azul1);
}

/* header banner */

.banner_header{
    display: flex;
    flex-direction: row;

}

.banner_header-wp{
    width: 100%;
}

.banner_header-wp--image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* cards informativos */

.cards{
    display: flex;
    flex-direction: row;
}

.cards_card{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--meio-cinza);
    border: 1px solid var(--azul1);
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}

.cards_card:nth-child(2n){
    background-color: var(--laranja);
}

.cards_card--imagem{
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 150px;
    max-height: 150px;
}   

.cards_card--titulo{
    font-size: 18px ;
    margin-top: 10px;
}

/* agendamento */

.agendamento{
    padding: 20px 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.agendamento-wp{
    width: 100%;
    max-width: 700px;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

.agendamento-wp--titulo{
    font-size: 18px;
    width: 35ch;
    margin-right: 10px;
}

.agendamento-wp--imagem{
    width: 100%;
    max-width: 100px;
    object-fit: cover;
}

/* serviços */

.servicos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.servicos--titulo{
    font-size: 24px;
}

.servicos-wp{
    display: flex;
    flex-direction: row;
    max-width: 1200px;
}

.servicos_article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border: 1px solid black;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 4px 1px 12px 0px rgb(64 64 64 / 37%);
    padding: 0 0 20px 0;
    transition: 0.5s;
}

.servicos_article:hover{
    transform: translateY(-4px);
}

.servicos_article--imagem{
    width: 100%;
    height: 100%;
}

.servicos_article_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.servicos_article_card--titulo{
    font-size: 18px;
    margin-top: 10px;
}

.servicos_article_card--desc{
    font-size: 16px;
    margin: 20px 0;
}

.servicos_article--btn{
    background-color: var(--laranja);
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 4px 20px;
    cursor: pointer;
    font-size: 17px;
    color: white;
}

.servicos_article:nth-child(2) .servicos_article--btn{
    background-color: var(--meio-cinza);
}

/* parceiros */

.parceiros{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.parceiros--titulo{
    font-size: 28px;
}

.parceiros_wp{
    display: flex;
    flex-direction: row;
}

.parceiros_wp_article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    padding: 30px;
}

.parceiros_wp_article--img{
    width: 100%;
    object-fit: cover;

}

.parceiros_wp_article_card{
    border: 1px solid grey;
    background-color: rgb(216, 216, 216);
    padding: 20px;
    border-radius: 20px ;
    width: 100%;
    margin-top: 10px;
}

.parceiros_wp_article_card--desc{
    font-size: 18px;
}

/* sobre nos */

.sobrenos{
    padding: 20px 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobrenos--titulo{
    font-size: 28px;
}

.sobrenos_historia{
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1000px;
    align-items: center;
    justify-content: center;
}

.sobrenos_historia_logoct{
    width: 100%;
}

.sobrenos_historia_logoct--img{
    width: 100%;
    max-width: 250px;
    object-fit: cover;
}

.sobrenos_historia-wp{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(216, 216, 216);
    width: 100% ;
}

.sobrenos_historia--desc{
    font-size: 18px;
}

.sobrenos_infos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1100px;
}

.sobrenos_infos_article{
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.sobrenos_infos_article--titulo{
    font-size: 25px;
}

.sobrenos_infos_article-card{
    border: 1px solid grey;
    padding: 20px;
    width: 90%;
    border-radius: 20px;
    background-color: rgb(216, 216, 216);

}

.sobrenos_infos_article-card--desc{
    font-size: 17px;
}

/* contate-nos */

.contato{
    background-image: url("./assets/images/contato-1.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0 ;
}

.contato--titulo{
    font-size: 28px;
}

.contato_form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    

}

.contato_form_wp{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.contato_form_wp--label{
    display: flex;
    flex-direction: column;
    margin-top: 15px;

}

.contato_form_wp--input{
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
    background-color: rgba(255, 255, 255, 0.603);
}

.form--wp{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.contato_form--text{
    font-size: 18px;
    width: 100%;
    border: 1px solid grey;
    outline: none;
    background-color: rgba(255, 255, 255, 0.603);
    resize: none;
    width: 100%;
}

.contato_form--btn{
    padding: 5px 20px;
    margin-top: 20px;
    background-color: var(--azul1);
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.hamburguer-menu{
    display: none;
}


@media (max-width: 875px){

    .sobrenos_historia_logoct{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header_wpnav{
        position: relative;
    }

    .cards,
    .servicos-wp,
    .parceiros_wp,
    .sobrenos_historia,
    .contato_form,
    .sobrenos_infos{
        flex-direction: column;
    }

    .form--wp{
        margin: 20px 0;
    }

    .header_wpnav--nav{
        position: fixed;
        background-color: white;
        width: 100%;
        height: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 0;
        right: 0;
    }   

    .header_wpnav--nav > div{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header_wpnav.menu-ativado .header_wpnav--nav{
        display: flex;
    }
    
    .header_wpnav.menu-ativado .close-menu-btn{
        display: flex;
        font-size: 25px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 20px;
    }

    .hamburguer-menu{
        display: flex;
        font-size: 25px;
        margin: 5px 12px;
        cursor: pointer;
    }

}

.close-menu-btn{
    display: none;
}

/* classe para ativar o menu */

.header_wpnav.menu-ativado{
    background-color: red;
}